{{- with site.Params.homeInfoParams }}
<article class="home-info">
    <div class="entry-header">
        <p>
            Hi 👋, I'm Karan. I build software for fun and profit. I work at 
            <a href="https://www.ubs.com/global/en/our-firm/what-we-do/technology.html" style="text-decoration: underline;" target="_blank">UBS</a>, one of the largest financial services company where I focus
            on designing and developing simple, extensible and maintainable systems. Sometimes you may find me on github experimenting on random stuff at 
            <a style="text-decoration: underline;" href="https://github.com/compscikaran" target="_blank">@compscikaran</a>
           
            <br/><br/>
            In my free time I like listening to audiobooks, playing chess or watching F1 races. 
            Here is 
            <a style="text-decoration: underline;" href="https://karan-gupta.notion.site/Audiobooks-Recommendations-2dea907e4e6c4153b406b7ccd4f48ace" target="_blank">My Essential Reading List</a>
            which I keep updating from time to time. <br/> Lookin for more info ? Checkout
            <a style="text-decoration: underline;" href="https://drive.google.com/file/d/1KIBxWbNTGSOhOnjOaoxZ1MKNSb6yqyyw/view?usp=sharing">My Resume.</a>  *All views you find here are my own.
            
        </p>
    </div>
    <br/>
    <div class="entry-header"><h2>Featured Posts</h2></div>
    <br/>
</article>
{{- end -}}
